﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContactModel>

@using (Html.BeginUmbracoForm<Umbraco7.ContactSurfaceController>("HandleFormPost"))
{
    <div class="row">
        <label for="name">Your name:</label><br />
        @Html.TextBoxFor(x => x.name, new { @class = "input", placeholder = "Name" })
        
        <br />
    </div>
    <div class="row">
        <label for="email">Your email:</label><br />
        @Html.TextBoxFor(x => x.email, new { @class = "input", placeholder = "Email" })
    </div>
    <div class="row">
        <label for="message">Your message:</label><br />
        @Html.TextAreaFor(x => x.message, new { @class = "input", placeholder = "Message" })
    </div>
    <input id="submit_button" type="submit" value="Send email" />
}