﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.CallApi>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}
<div ng-app="myApp" ng-controller="myCtrl">
	<p>Today is welcome message is:</p>
	<h1>{{myWelcome}}</h1>
</div>
<script>
	var app = angular.module('myApp', []);
	app.controller('myCtrl', function($scope, $http) {
		$http.get("http://localhost:57136/umbraco/backoffice/my/PersonApi/GetAll")
		.then(function(response) {
			$scope.myWelcome = response.data;
		});
	});
</script>